<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Artistic Decor ~ Photo Gallery</title>
    <link rel="stylesheet" type="text/css" href="assets/css/stylegallery.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
</head>
<body>
    <div class="container">
        <div class="heading">
            <img src="/assets/images/newlogooo.jpg" class="logo">
            <h3>Photo <span>Gallery</span></h3>
        </div>
        <div class="title-textt">
            <h1>Ceilingsss:</h1>
        </div>
        <div class="wrapper">
            <i id="left" class="fa fa-arrow-left"></i>
            <div class="carousel">
              <img src="/assets/images/gallery/ceilings/img1.jpg" alt="img" draggable="false">
              <img src="/assets/images/gallery/ceilings/img2.jpg" alt="img" draggable="false">
              <img src="/assets/images/gallery/ceilings/img3.jpg" alt="img" draggable="false">
              <img src="/assets/images/gallery/ceilings/img4.jpg" alt="img" draggable="false">
              <img src="/assets/images/gallery/ceilings/img5.jpg" alt="img" draggable="false">
              <img src="/assets/images/gallery/ceilings/img6.jpg" alt="img" draggable="false">
              <img src="/assets/images/gallery/ceilings/img7.jpg" alt="img" draggable="false">
              <img src="/assets/images/gallery/ceilings/img8.jpg" alt="img" draggable="false">
              <img src="/assets/images/gallery/ceilings/img9.jpeg" alt="img" draggable="false">
              <img src="/assets/images/gallery/ceilings/img10.jpg" alt="img" draggable="false">
            </div>
            <i id="right" class="fa fa-arrow-right"></i>
          </div>
          <div class="title-textt">
            <h1>Facades:</h1>
        </div>
        <div class="wrapper">
            <i id="left" class="fa fa-arrow-left"></i>
            <div class="carousel">
              <img src="assets/images/gallery/facades/img1.jpg" alt="img" draggable="false">
              <img src="assets/images/gallery/facades/img2.jpg" alt="img" draggable="false">
              <img src="assets/images/gallery/facades/img3.jpg" alt="img" draggable="false">
              <img src="assets/images/gallery/facades/img4.jpg" alt="img" draggable="false">
              <img src="assets/images/gallery/facades/img5.jpg" alt="img" draggable="false">
              <img src="assets/images/gallery/facades/img6.jpg" alt="img" draggable="false">
              <img src="assets/images/gallery/facades/img7.jpg" alt="img" draggable="false">
              <img src="assets/images/gallery/facades/img8.jpg" alt="img" draggable="false">
              <img src="assets/images/gallery/facades/img9.jpg" alt="img" draggable="false">
              <img src="assets/images/gallery/facades/img10.jpg" alt="img" draggable="false">
            </div>
            <i id="right" class="fa fa-arrow-right"></i>
          </div>
          <div class="title-textt">
            <h1>Wall Panels</h1>
        </div>
        <div class="wrapper">
            <i id="left" class="fa fa-arrow-left"></i>
            <div class="carousel">
              <img src="assets/images/gallery/walls/img1.jpg" alt="img" draggable="false">
              <img src="assets/images/gallery/walls/img2.jpg" alt="img" draggable="false">
              <img src="assets/images/gallery/walls/img3.jpg" alt="img" draggable="false">
              <img src="assets/images/gallery/walls/img4.jpg" alt="img" draggable="false">
              <img src="assets/images/gallery/walls/img5.jpeg" alt="img" draggable="false">
              <img src="assets/images/gallery/walls/img6.jpg" alt="img" draggable="false">
              <img src="assets/images/gallery/walls/img7.jpg" alt="img" draggable="false">
              <img src="assets/images/gallery/walls/img8.jpg" alt="img" draggable="false">
              <img src="assets/images/gallery/walls/img9.jpg" alt="img" draggable="false">
              <img src="assets/images/gallery/walls/img10.jpg" alt="img" draggable="false">
            </div>
            <i id="right" class="fa fa-arrow-right"></i>
          </div>
          <div class="title-texttt">
            <h1>Flooring</h1>
        </div>
        <div class="wrapper">
            <i id="left" class="fa fa-arrow-left"></i>
            <div class="carousel">
              <img src="assets/images/gallery/flooring/img1.jpg" alt="img" draggable="false">
              <img src="assets/images/gallery/flooring/img2.jpg" alt="img" draggable="false">
              <img src="assets/images/gallery/flooring/img3.jpg" alt="img" draggable="false">
              <img src="assets/images/gallery/flooring/img4.jpg" alt="img" draggable="false">
              <img src="assets/images/gallery/flooring/img5.jpg" alt="img" draggable="false">
              <img src="assets/images/gallery/flooring/img6.jpeg" alt="img" draggable="false">
              <img src="assets/images/gallery/flooring/img7.jpg" alt="img" draggable="false">
              <img src="assets/images/gallery/flooring/img8.jpg" alt="img" draggable="false">
              <img src="assets/images/gallery/flooring/img9.jpg" alt="img" draggable="false">
            </div>
            <i id="right" class="fa fa-arrow-right"></i>
          </div>
    </div>
    <div id="sideNav">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/#feature">Feature</a></li>
                <li><a href="/#service">Products</a></li>
                <li><a href="/#testimonial">Testimonials</a></li>
                <li><a href="#footer">Meet Us</a></li>
            </ul>
        </nav>
    </div>
    <div id="menuBtn">
        <img src="assets/images/menu.png" id="menu">
    </div>
    <!--Footer-->
    <section id="footer">
        <img src="assets/images/footer.png" class="footer-img">
        <div class="title-textt">
            <h1></h1>
            <h1></h1>
        </div>
        <div class="footer-row">
            <div class="footer-left">
                <h1>Opening Hours</h1>
                <h1><i class="fa fa-clock-o"></i>Monday To Friday - 9am to 9pm</h1>
                <h1><i class="fa fa-clock-o"></i>Saturday and Sunday - 8am to 11pm</h1>
            </div>
            <div class="footer-right">
                <h1>Get In Touch</h1>
                <h1><i class="fa fa-map-marker"></i>Artistic Decor
                    Plot no 36
                    Sector -82
                    JLPL Area, 
                    Mohali</h1>
                <h1><i class="fa fa-paper-plane"></i>contact@artisticdecor.in</h1>
                <h1><i class="fa fa-phone"></i>9814634910</h1>
            </div>
        </div>
        <div class="social-links">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-youtube-play"></i>
            <h1>Copyright Artistic Decor</h1>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="assets/js/gallery.js"></script>

</body>
</html>
